@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-img{
  background-image: url("../../public/pictures/heropic.jpg")

}; */
/* global.css */

.custom-img {
  /* Common styles for the background */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height as needed */

  /* Default background image for larger screens */
  background-image: url("../../public/pictures/heropic.jpg");
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .custom-img {
    /* Use a different background image for smaller screens */
    background-image: url("../../public/pictures/heripicSmall.webp");
  }
}

.myDiscount {
  transform: rotate(-90deg);
}
